#footer {
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    align-items:center;
    padding-top: 30px;
  } 

  .invisible {
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }